.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

#search-box {
  padding: 10px;
  margin: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.loader {
  margin: 20px auto;
}

.loader img {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  font-size: 1.2em;
}