.card {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  margin: 15px;
  text-align: center;
  box-shadow: 0 12px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  cursor: pointer;
  color: #333;
}
.card-bottom p {
  color: #404060;
}
.card:hover {
  transform: scale(1.05);
}

.hp {
  width: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 8px 0;
  border-radius: 30px;
  margin-left: auto;
  font-weight: 400;
}

.hp span {
  font-weight: bold;
}

.card img {
  width: 180px;
  height: 180px;
  margin-top: 20px;
}

.card h3 {
  margin: 10px 0 5px 0;
  font-size: 18px;
  color: #333;
}

.poke-name {
  font-weight: 600;
  text-transform: capitalize;
}

.poke-id {
  font-weight: 400;
  margin-top: 5px;
}

.types {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.types span {
  padding: 5px 20px;
  border-radius: 5px;
  color: #333;
}

.card-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.highlight {
  animation: highlight-anim 2s ease-in-out;
}

@keyframes highlight-anim {
  0% {
    box-shadow: 0 0 15px 5px gold;
  }
  100% {
    box-shadow: 0 12px 8px rgba(0, 0, 0, 0.2);
  }
}
